.df{
    display: flex;

}
.homeContainer{
    flex: 8 1;
    padding-left: 100px;
    width: 100%;
    position: relative;
    z-index: 10;
}

.menu{
    cursor: pointer;
    display: none !important;
    font-size: 48px;
    display: none;
    position: absolute;
    right: 10px;
    z-index: 20;
    transition: .2s ease-in-out;
}
.menu:hover{
    color: red;
}
@media(max-width:800px){
    .homeContainer{
        padding-left: 0;
    }
    .menu{
        display: block !important;
    }
}